---
layout: default
title: Blog
permalink: /blog/
---
<div class="row justify-content-start">
{% for post in site.posts %}
    {% capture link %}{{ post.url | prepend: site.baseurl }}{% endcapture %}
    {% if post.external_url %}
        {% assign link = post.external_url %}
    {% endif %}
    {% capture footer %}
    <small class="text-muted">
        {{ post.date | date: "%B %-d, %Y" }}
    </small>
    {% endcapture %}
    {% include card.html header=post.title img=post.img url=link footer=footer text=post.excerpt%}
{% endfor %}
</div>
