<div class="col-lg-4 col-md-6 card-deck">
    <div class="card mb-2">
        <div class="card-header">
            {{ include.header }}
        </div>
        <!--Card image-->
        {% if include.img %}
            <div class="view">
                {% assign img_url_start = include.img | slice: 0,4 %}
                {% if img_url_start == 'http' %}
                    <img src="{{include.img}}" alt="">
                {% else %}
                    <img src="{{site.baseurl}}/images/{{include.img}}" alt="">
                {% endif %}
                <a href="{{include.url}}" target="_blank">
                    <div class="mask"></div>
                </a>
            </div>
        {% endif %}
        <div class="card-block">
            <p class="card-text">{{include.text}}</p>
            <div class="text-center align-items-end">
                <a href="{{include.url}}" class="btn btn-primary">{{include.button_text | default: "Read More"}}</a>
            </div>
        </div>
        {% if include.footer %}
        <div class="card-footer pt-0">
            {{include.footer}}
        </div>
        {% endif %}
    </div>
</div>

