<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand thin" href="{{site.baseurl}}/">{{site.title}}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto justify-content-end">
	  {% include nav-link.html name='About' link='/' %}
	  {% include nav-link.html name='Blog' link='/blog/' %}
	  {% include nav-link.html name='Research' link='/research/' %}
	  {% include nav-link.html name='Projects' link='/projects/' %}
	  {% include nav-link.html name='Press' link='/press/' %}
	  {% include nav-link.html name='Resume' link='/resume/' extra='target="_blank"' %}
    </ul>
  </div>
</nav>
